@charset "UTF-8";

h1{
	font-size: 2.125rem;
}

nav li{
	font-size: 1.5rem;
	padding: 20px;

}

nav li a:hover{
	color: red;
}
.container {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

img {

	border: 1px solid red;
	flex-grow: 1;
	object-fit: cover;
	height: 200px;
	max-width: 900;
	width: 100%;
}

footer p{
	padding: 20px;
	font-size: 1.25rem;
}
.wrapper{
	width: 900;
	margin: 0 auto;
	background-image: url(../images/stardust.jpg);
}









