@charset "UTF-8";
#slide{
	display: none;
}

#slide{
	background-image: url('../images/white_room.jpg');
}

@media(max-width: 700px){

}

.text{
	margin-left: 0;
	margin-top:40px;
}




