@charset "utf-8";
h2{
	margin-top: 0;
}
main{
	padding: 50px 0;
}
#center{
	display: flow-root;/*floatの回り込み解除* floatをかけた要素の箱となっている<div>にかける:*/
}

.co_a{
	width: 70%;/*メインコンテンツの幅*/
	float: left;
	text-align: center;
	display: grid;/*コンテンツが横に並び、入りきらなければ下に落ちる*/
	grid-template-columns: 1fr 1fr;

}
.co_a p{
	margin: 15px 0;
}
.co_a img{
	 box-shadow: 7px 0 7px #afeeee;/*#afeeeeのちに*/
}
.co_b{
	width: 30%;
	float: right;
}

.co_b p{
	text-align: center;
	margin-top: 50px;
	font-size: 1.25rem;
	font-weight: bold;

}
/* BIG newsのところ　↓*/

.animated-text {
	padding: 10px;
  /*font-size: 18rem;*/
}
.animated-text span {
  display: inline-block;
  opacity: 0;
  animation: drop-in 2s ease forwards;
}

/* 落下アニメーション */
@keyframes drop-in {
  from {
    transform: translateY(-100%);
    color: #dff5ff;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    color: #23406e;
  }
}

/*以上グッズーーーーーーー以下ファンクラブーーーーーーーーーーーーーーーー*/

.fan{
	float: left;
	width: 400px;
	height: auto;
}

.fan p{
	line-height: 1.5rem;
	padding-bottom: 3px;

}

.special {
	font-size: 1.25rem;
	margin: 5px 30px;
}

h4{
	font-size: 1.25rem;
	margin:30px 0;
}

.special:first-letter{
 font-size:1.2em;
 color: lime;
}

form div{
	margin: 10px 30px;
}
.btn{
	padding-left: 150px;
}
.btn input{
	color: #c71585 ;
}

input:focus{
	background-color: #E5FFCC;
}
label:focus-within{
	color: green;
}
input[type="radio"]{
	accent-color: #dd55ff;
}

.starphoto{
	float: right;
	width: 280px;
	height: auto;

}
.starphoto img{
			box-shadow: none;

}
.starstar{
	display: flow-root;
	margin: 0 80px;

}

/*
.foot{
 clear: both;
 display: flow-root;
}
*/
