@charset "UTF-8";

@media(max-width: 700px){
}

.wrapper{
	width: 100%;
	height: auto;
	text-align: center;
}

header{
	margin: 0;
}

header p{
	margin-bottom:30px;
	font-size: 0.875rem;

}
#starlight{
	background-position: 50px 60px;
	background-size: 170%;
}

nav ul{
	display: block;
	margin-top:10px;
	font-size: 1.125rem;
	
}

nav ul li{
	margin:0;
	padding:10px;
}	
	
.contents{
	display: block;
}

/*header----------------------------------------*/

.copy-1,.copy-2,.copy-3,.copy-4,.copy-5{
	font-size: 1rem;
}

.copy-1,.copy-2,.copy-3,.copy-4,.copy-5{
	word-break: auto-phrase;

}

footer li{
	display: block;
}
