@charset "UTF-8";
/*--------plofile_sp css---------------*/

@media(max-width: 700px){
}

.profile{
	display: block;
	line-height:30px;
}
table{
	margin: 20px auto;
	line-height: 1.5rem;

}
td ,th{
	border-bottom: none;
	text-align: left;
	padding-left:10px;
}

.star{
	margin-left: 0;
	margin-top: 50px;
	letter-spacing: -0.2px;
}
.star p{
	margin-top: 50px;

}


